body {
    background: #f4f7fd;
    margin: 0;
  }
  
  .card .card-header.no-border {
    border: 0;
  }
  .card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
  }
  
  .widget-49 .widget-49-title-wrapper {
    display: flex;
    align-items: center;
  }
  
  .widget-49 .widget-49-title-wrapper .widget-49-date-success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #359bfb;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  
  .widget-49
    .widget-49-title-wrapper
    .widget-49-date-success
    .widget-49-date-day {
    color: #2f3a53;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }
  
  .widget-49
    .widget-49-title-wrapper
    .widget-49-date-success
    .widget-49-date-month {
    color: #2f3a53;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .widget-49 .widget-49-meeting-action {
    text-align: right;
  }
  
  .container {
    width: 300px;
  }